- provide(:title, 'Login Page')

%h1 Change password

= form_tag '/change_pass/update', :method => :put do


  .form-group
    = label :change_pass, :old_password, 'Old password', class: 'control-label'
    = password_field :change_pass, 'old_password', class: 'form-control'

  .form-group
    = label :change_pass, :new_password, 'New password', class: 'control-label'
    = password_field :change_pass, 'new_password', class: 'form-control'


  = submit_tag 'Save Changes'