.row
  .col-xs-12

    %p{id:'notice'}
      = notice

    %h1
      Courses
    .table-responsive
    %table{class:'table table-bordered table-hover table-striped'}
      %thead
        %tr
          %th
            Code
          %th
            Description
          %th
            Semester
          %th>
            Note
          -if @current_user && @current_user.role.description = 'Instructor'
            %th{colspan:'3'}
      %tbody
        -@courses.each do |course|
          %tr
            %td
              = course.code
            %td
              = course.description
            %td
              = course.semester
            %td
              = course.note
              -if @current_user && @current_user.role.description = 'Instructor'
                %td
                  = link_to 'Show', course
              -if @current_user && @current_user.role.description = 'Instructor'
                %td
                  = link_to 'Edit', edit_course_path(course)
              -if @current_user && @current_user.role.description = 'Instructor'
                %td
                  = link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' }
    %br

    = link_to ' Add', new_course_path, class: 'fa fa-book btn btn-default'
