%p{id:'notice'}
  = notice

%p
  %strong
    Code:
    = @course.code

%p
  %strong
    Description:
    = @course.description

%p
  %strong
    Semester:
    = @course.semester

%p
  %strong
    Note:
    = @course.note

= link_to 'Edit', edit_course_path(@course) if has_rights :Instructor
= link_to 'Back', courses_path
