- provide(:title, 'Login Page')

.col-lg-3.col-md-4.col-xs-6
  %h1 Change password
  = form_tag '/profile/update_password', :method => :put do

    .form-group
      = label :password, :old_password, 'Old password', class: 'control-label'
      = password_field :password, 'old_password', class: 'form-control'

    .form-group
      = label :password, :password, 'New password', class: 'control-label'
      = password_field :password, 'password', class: 'form-control'

    .form-group
      = label :password, :confirm_password, 'Confirm password', class: 'control-label'
      = password_field :password, 'confirm_password', class: 'form-control'

    = button_tag  type: 'submit', class: 'pull-right btn btn-default' do
      %span
        %i{class: 'fa fa-key'}
        Change Password