!!!
%html
  %head
    %title Grade Keeping System
    = stylesheet_link_tag 'application', 'media' => 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    :plain
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  %body
    #wrapper

      = render partial: 'layouts/navbar'

      #page-wrapper
        .container-fluid
          = render partial: 'layouts/messages'
          
          = yield
